.newNote input[type="text"]{
    padding: 20px;
}
.newNote button{
    padding: 10px;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    font-size: 16px; 
    line-height: 16px;
    border-radius: 10px;
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border:none; 
    display: inline-block;
}
.newNote button:hover{ 
    background-color: white;
}